Flask
requests
beautifulsoup4
newsapi-python
feedparser
scikit-learn
numpy
python-dateutil
nltk
fuzzywuzzy
python-Levenshtein
lxml
html5lib
urllib3
librosa
matplotlib
soundfile
transformers
torch
joblib